<!DOCTYPE html>
<html>
  <head>
    <title>Invalid File ID</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Invalid File ID</h1>
          <div class="alert alert-danger" role="alert">
            File ID invalid or file does not exist!
          </div>
        </div>
      </div>
    </div>
  </body>
</html>