<!DOCTYPE html>
<html>
  <head>
    <title>File Loaded Successfully</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">File Loaded Successfully</h1>
          <div class="alert alert-success" role="alert">
            File text:<br>
            {{metadata[2]}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
