<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">File Metadata</h1>
          <div class="alert alert-success" role="alert">
            File loaded successfully!
          </div>
          <div class="form-group">
            <label>File metadata:</label>
            <p>{{metadata[1]}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>